*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.menu{
    display: flex;
    justify-content:space-between;
    padding: 0 5%;
}

.left-side-menu{
    justify-content: space-between;
    display: flex;
    gap: 70px;
    align-items: center;

}

nav ul li{
    display: inline-block;
    justify-content: space-between;
    
}